body {
    margin: 50px;
    font-family: Helvetica, sans-serif;
    font-size: 150%;
}

#firstDiv {
    font-weight: bold;
    color: purple;
}

#listDiv {
    font-weight: bolder;
    font-weight: 900;
    font-family:'Times New Roman', Times, serif;
    color: green;
}
#message{
    font-weight: bolder;
    font-weight: 900;
}
#swapBtn {
    display: none;
}

#part2 {
    display: none;
}