body {
    background-color: rgb(78, 78, 78);
    color: aqua;
    margin: 50px;
    font-family: Helvetica, sans-serif;
    font-size: 150%;
}

#firstDiv {
    font-weight: bold;
    color: rgb(218, 4, 218);
}

#listDiv {
    font-weight: bolder;
    font-weight: 900;
    font-family:'Times New Roman', Times, serif;
    color: green;
}
#message{
    font-weight: bolder;
    font-weight: 900;
}
#swapBtn {
    display: none;
    font-size: large;
    font-weight: bold;
    background-color: yellow;
    border: 3px none;
    margin: 10px;
}

#part1 {
    background-color: rgb(196, 198, 199);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 50%;
}

#part2 {
    background-color: rgb(196, 198, 199);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    display: none;
    width: 50%;
}